<div>
    <mat-form-field>
        <mat-label for="restTimeInSeconds">Rest Time(seconds)</mat-label>
        <input matInput placeholder="Rest Time" type="number" #restTimeInSeconds>
    </mat-form-field>
    <button mat-raised-button (click)="setRestTimeInSeconds(restTimeInSeconds.value)">Set Rest Time</button>
</div>

<div id="clock" (click)="runClock()">
    <div [ngClass]="{'seconds-container': isClockTriggered}">
        <div class="seconds"></div>
    </div>
</div>
Exercise: {{currentExercise}}
<p>{{counter}}</p>

<form [formGroup]="exerciseForm" (ngSubmit)="addExercise()">
    <mat-form-field>
        <mat-label for="name">Exercise Name</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="repetititons">Repetitions</mat-label>
        <input matInput type="number" formControlName="repetitions">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="repetititons">Weight</mat-label>
        <input matInput type="number" formControlName="weight">
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="exerciseForm.invalid">Add Exercise</button>
</form>

<p *ngFor="let exercise of exerciseList">Exercise Name: {{exercise.name}} Exercise Repetitions: {{exercise.repetitions}} Exercise Weight: {{exercise.weight}}</p>